<h1>Heroes <small>y antiheroes , de todo un poco</small></h1>

<div class="card-columns">

    <div class="card" animated fadeIn fast *ngFor="let heroe of heroes; let i=index">
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title"> <strong>{{i+1}}</strong> {{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>

            <button class="btn-outline-primary btn-block" (click)="verHeroe(i)">Ver más ... (boton)</button>

            <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary"> Ver más ...(link) </a>

        </div>
    </div>