<h1>Buscar Heroes <small>y antiheroes , de todo un poco</small></h1>
<div class="row animated fadeIn" *ngIf="(heroeSearch.length ==0)">
    <div class="col-md-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>No hay datos</strong> no se han encontrado resultados para: ..
            <h3>{{busqueda}}</h3>
        </div>

    </div>
</div>
<div class="card-columns">

    <app-heroe-ficha (heroeSeleccionado)="verHeroe($event)" [heroe]="hero" [index]=i *ngFor="let hero of heroeSearch; let i=index"></app-heroe-ficha>

</div>